# This is an example where you can store your environment variables. Copy this file to .env
# Now your app will have access to the variables added below. 
# For more instructions see section "Secrets" in README.md

API_URL=https://myapi.com
GOOGLE_MAPS_API_KEY=abcdefgh
